@use'../custom' as *;
@use'../components/mixins' as *;

.faq{
    padding-top: 10px;

    &__header{
        color: #000;
        // font-family: Sora;
        // width: 300px;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 122%; /* 58.56px */      
        
    }

    &__accordianHeading{
        // @include gradient;
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;        
    }
    &__accordionBody{
        // @include gradient;
        // background-color: $secondary;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 148%; /* 29.6px */        
    }
}
.accordian{
    margin: 0   auto;
}
.accordion-button {
    $accordion-border-color: black;
    // background-color: transparent;
    // color: #000; /* Text color for the button */
    // padding: 0;
    // text-align: left; /* Optional: Adjust text alignment */
}

